@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

//button
$Pink: hsl(322, 100%, 66%);
//hover button
$LighPink: hsl(321, 100%, 78%);
//error email
$LightRed: hsl(0, 100%, 63%);
$Primary: white;
$Secondary: #01262f;
//hover icon
$blue: #01c6fb;
$lightBlue: #f6fbff;

//weight 700
$font-stack1: "Poppins", sans-serif;
//weight 400, 600, 700
$font-stack2: "Open Sans", sans-serif;
