.modal {
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.3);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 0;
  max-height: 0;
  padding: 5% 0 5%;
  z-index: 4;
  transition: visibility 0.5s ease, height 0.5s ease, width 0.5s ease;

  .plan {
    border-radius: 1rem;
    border: 0.01px rgba(121, 121, 121, 0.3) solid;
    padding: 2em;
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 700px;
    max-height: 100%;
    margin: 10px auto;
    overflow-y: scroll;

    .img-close {
      width: 1rem;
      float: right;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity 0.2s ease;
    }

    .img-close:hover {
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    h2 {
      margin: 5px 0;
    }

    p {
      margin: 5px 0;
    }

    .card {
      border-radius: 1rem;
      border: 0.01px rgba(121, 121, 121, 0.3) solid;
      padding: 2em;
      background-color: white;
      width: calc(25rem-80px);
      margin: 10px auto;

      &-header {
        display: flex;
        justify-content: baseline;
        padding: 10px 0;

        @import "radiobtn";

        h3 {
          font-size: 18px;
          margin: 0 10px;
        }

        .title {
          margin: -15px 0 0;

          .price-desc {
            color: $Primary-D;
            font-weight: 900;
            margin: 0 10px;
          }

          &-total {
            padding: 0 2em 10px;
            margin-left: auto;
            display: none;
            justify-content: baseline;
            span {
              font-weight: bold;
              color: black;
              font-size: 20px;
              margin: 0 10px 0 0;
            }
          }
        }
      }

      &-desc {
        padding: 10px 0;
      }

      &-total {
        padding: 10px 0;
        display: flex;
        justify-content: baseline;
        span {
          font-weight: bold;
          color: black;
          font-size: 20px;
          margin: 0 10px 0 0;
        }
      }

      &-cta {
        padding: 10px 0;
        visibility: hidden;
        height: 0;
        border-top: 1px $Neutral-G solid;
        transition: visibility 0.4s ease, height 0.4s ease, width 0.4s ease;

        .label {
          text-align: center;
        }

        .cta {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          div {
            border-radius: 2rem;
            padding: 5px 10px;
            border: 0.5px $Neutral-G solid;
            display: flex;
            justify-content: baseline;
            width: fit-content;

            input {
              outline: none;
              border: 0;
              height: 20px;
              margin: 7px 0 4px 10px;
              width: 3rem;
            }
          }
        }
      }

      &-cta.active {
        visibility: visible;
        height: 100px;
        max-height: fit-content;
        transition: visibility 0.4s ease, height 0.4s ease, width 0.4s ease;
      }
    }

    .card.inactive {
      opacity: 0.3;
    }
  }

  .plan.success {
    visibility: hidden;
    height: 0;
  }

  @import "thankPage";
}

.modal.active {
  visibility: visible;
  max-width: 100vw;
  max-height: 100vh;
  transition: visibility 0.5s ease, height 0.5s ease, width 0.5s ease;
}
