@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;800&display=swap');

$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-desaturated-cyan-0: hsla(167, 40%, 24%, 0.7);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-blue-0: hsla(198, 62%, 26%, 0.7);
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$blue: #3EBEFF;
$silver: #9F9BA7;
$text-dark: hsl(209.03,28.97%,20.98%);
$text-dark-30: hsla(209.03, 28.97%, 20.98%, 0.5);

$font-1: Barlow;
$font-2: Fraunces; 